name: 'Build and Deploy'

on:
  push:
    branches: 'main'

jobs:
  Docker_Build:
    runs-on: 'ubuntu-22.04'
    name: 'Build and Deploy'
    steps:
      - name: 'Checkout'
        uses: 'actions/checkout@v3.5.3'
      - name: 'Configure AWS credentials'
        uses: 'aws-actions/configure-aws-credentials@v2.2.0'
        with:
          aws-access-key-id: '${{ secrets.AWS_ACCESS_KEY_ID }}'
          aws-secret-access-key: '${{ secrets.AWS_SECRET_ACCESS_KEY }}'
          aws-region: 'eu-central-1'
      - name: Install webapp dependencies
        run: cd webapp && npm i --force
      - name: Build webapp
        run: make build-webapp
      - name: Upload public to S3 root (excluding index.html)
        run: |
          aws s3 sync webapp/public/ s3://vitsi-ai-bucket/ --exclude "index.html"
      - name: Upload /dist to S3 root
        run: |
          aws s3 sync webapp/dist/ s3://vitsi-ai-bucket/
      - name: build and deploy server
        uses: appleboy/ssh-action@v1.0.0
        env:
          YOUTUBE_API_KEY: ${{ secrets.YOUTUBE_API_KEY }}
          SITE_URL: "https://www.vitsi.ai"
          CHAT_GPT_API_KEY: ${{ secrets.CHAT_GPT_API_KEY }}
          CHAT_GPT_ORGANIZATION_ID: ${{ secrets.CHAT_GPT_ORGANIZATION_ID }}
          PINECONE_API_KEY: ${{ secrets.PINECONE_API_KEY }}
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          envs: YOUTUBE_API_KEY,SITE_URL,CHAT_GPT_API_KEY,CHAT_GPT_ORGANIZATION_ID,PINECONE_API_KEY
          script: |
            cd knowledge-graph/
            git pull
            sudo docker builder prune -f
            sudo -E docker compose up -d --build kg-db kg-server
