name: go-test
on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.19'
      - name: Build
        working-directory: ./server
        run: go build -v ./...
      - name: Test with the Go CLI
        working-directory: ./server
        run: go test ./...
